{% extends 'base.html' %}

{% block title %}Класифікація античних монет{% endblock %}


{% block content %}

<div class="b1" >
<form id="imageUploadForm" enctype="multipart/form-data">
    
	<label class="input-file">
        <input   type="file" name="image" id="imageInput" accept="image/*">
         <span class="forma_button input-file-btn">Select file</span>           
        <span class="input-file-text">Max 1 MB</span>
  </label>

 <script>
    $('.input-file input[type=file]').on('change', function(){
	let file = this.files[0];
	$(this).closest('.input-file').find('.input-file-text').html(file.name);
});
 </script>
    <button id="prog_start"  class="forma_button" type="button" onclick="uploadImage()">Upload image</button>
</form>
<div class="progres" id="pr1" ></div>
<div class="progres" id="pr2" ></div>
<div class="progres" id="pr3" ></div>
<div class="progres" id="pr4" ></div>
<div class="progres" id="pr5" ></div>
<div class="progres" id="pr6" ></div>
<div class="progres" id="pr7" ></div>
<div class="progres" id="pr8" ></div>
<div class="progres" id="pr9" ></div>
<div class="progres" id="pr10" ></div>
<div class="progres" id="pr11" ></div>
<div class="progres" id="pr12" ></div>
<div class="progres" id="pr13" ></div>
<div class="progres" id="pr14" ></div>
<div class="progres" id="pr15" ></div>
<div class="progres" id="pr16" ></div>
<div class="progres" id="pr17" ></div>
<div class="progres" id="pr18" ></div>
<div class="progres" id="pr19" ></div>
<div class="progres" id="pr20" ></div>
<p id="reasult"></p>
</div>
<div class="b2 b2_coin" >
    <div style="height: 330px; overflow: hidden;">
<img id="coin_img" src="/static/base/img/coins.jpg" alt="Original Image" style="width: 100%;">
</div>
<div style="height: 50px;">
<a href='' id="str_coin_bat" target="_blank"><button  class="forma_button" type="button" style="display: none;" onclick="" id="str_coin_bat_b">Visit the coin page</button></a>
</div>
<div style="overflow: hidden; margin-right: 15px;">
    <p>All coin data is taken from open catalogs</p>
    <ul style="margin-left: 30px;">
        <li><a href="https://bosporan-kingdom.com/">https://bosporan-kingdom.com/</a></li>
        <li><a href="https://tauriscoins.ru/">https://tauriscoins.ru/</a></li>
    </ul>
    </div>

<div>

</div>

</div>
<script>
function start_progress() {
    document.getElementById("reasult").innerHTML = ''
    for (var i = 1; i <= 20; i++) {
        (function(index) {
            setTimeout(function() {
                var progress_element = document.getElementById('pr' + index);
                progress_element.style.display = "block";
            }, index * 130);
        })(i);
    }
}
function clean_progres() {
    return new Promise(function(resolve) {
        var progress_elements = document.getElementsByClassName('progres');
        var visibleProgressElements = Array.from(progress_elements).filter(function(element) {
            return window.getComputedStyle(element).getPropertyValue('display') === 'block';
        });

        if (visibleProgressElements.length === 20) {
            hideElements(visibleProgressElements);
            resolve(); // Разрешаем обещание при успешном выполнении
        } else {
            setTimeout(function() {
                clean_progres().then(resolve); // Рекурсивно вызываем clean_progres и разрешаем обещание
            }, 150);
        }
    });
}

function hideElements(elements) {
    for (var i = 0; i < elements.length; i++) {
        elements[i].style.display = "none";
        
    }
}

document.getElementById('prog_start').addEventListener('click', start_progress);

function uploadImage() {
    var formData = new FormData(document.getElementById("imageUploadForm"));

    $.ajax({
        url: "coin_img",  // Укажите путь к вашему Django-обработчику загрузки
        type: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        },
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
            // Обработка успешного ответа от сервера
            console.log(response);
            var image = document.getElementById("coin_img");
            var a = document.getElementById("str_coin_bat")
            var a_bat = document.getElementById("str_coin_bat_b")
            clean_progres().then(function() {
            if (response.max_index != 0) {
                document.getElementById("reasult").innerHTML = 'Your coin has been classified as ' + response.name_coin + 
                ' with precision ' + (response.max_index * 100).toFixed(2) + '%' 
                a.href = response.str_coin
                a_bat.style.display = "block";

            image.src = response.url_coin;
            } else {
            image.src = 'https://chudo-prirody.com/uploads/posts/2021-08/1628745054_170-p-foto-grustnii-kotik-175.jpg'
            document.getElementById("reasult").innerHTML = "Sorry, but we couldn't classify your coin"
            a_bat.style.display = "none";}

            })
        },
        error: function(error) {
            // Обработка ошибок
            clean_progres().then(function(){
            console.log(error);
            clean_progres()
            image.src = 'https://chudo-prirody.com/uploads/posts/2021-08/1628745054_170-p-foto-grustnii-kotik-175.jpg'
            document.getElementById("reasult").innerHTML = 'Виникла помилка серверу, перезавантажте сторінку'
            a_bat.style.display = "none";
        } )}
    });
}

</script>
{% endblock %}