{% extends 'base.html' %}

{% block title %}Про проект{% endblock %}


{% block content %}



    <div class="blog">
        <p class="blog-1">Про проект</p>
        <div style="margin-left: 15%; margin-right: 15%; min-height: 684px;">
<p>Останні роки спостерігається стрімкий розвиток інтелектуальних систем, що супроводжується проникненням їх в усі сфери господарської та наукової діяльності людини. І хоча історична наука є досить консервативною у своїх методах роботи, комп&rsquo;ютеризовані інтелектуальні системи вже давно використовуються археологами та істориками.</p>
<p>Завдяки системам, що використовують глибоке машинне навчання археологи аналізують великі площі земної поверхні: проводячи оцінку стану курганів, шукають земляні фортеці вікінгів, реставрують старовині мозаїки та інше. Таким чином інтелектуальні системи можуть брати на себе роботу з аналізу великих обсягів даних які потребують багато людиногодин для обробки в ручному режимі.</p>
<p>І хоча наразі небагато з розроблених інтелектуальних систем використовується спеціалістами на практиці, я впевнений що у майбутньому це число буде тільки зростати.</p>
</div></div>


{% endblock %}